<!-- Modals of the options of a option selected of the elements -->
<!-- Modal Rename -->
<ng-template #renameE let-modal>
  <form [formGroup]="currentFieldChangeState" (ngSubmit)="renameElement()">
    <div class="modal-header">
      <h4 class="modal-title">Renombrar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span *ngIf="!isRename">
        Hubo un error al cambiar el nombre de "{{ currentFilename }}".
      </span>
      <p>Para cambiar el nombre "{{ currentFilename }}" solo digita el nuevo nombre:</p>
      <div class="field-change-state">
        <label for="fieldToChange">Nuevo Nombre</label>
        <input type="text" name="fieldToChange" formControlName="fieldToChange">
        <span *ngIf="currentFieldChangeState.controls['fieldToChange'].invalid &&
                      (currentFieldChangeState.controls['fieldToChange'].dirty ||
                        currentFieldChangeState.controls['fieldToChange'].touched)"
              class="danger">
                      Digita un nombre para cambiar el anterior.
        </span>
        <span *ngIf="currentFieldChangeState.controls['fieldToChange'].value == currentFilename"
              class="danger">
          Debes escribir un nombre diferente al actual.
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="currentFieldChangeState.invalid">Cambiar nombre</button>
    </div>
  </form>
</ng-template>
<!-- Modal Delete -->
<ng-template #deleteE let-modal>
  <form [formGroup]="currentFieldChangeState" (ngSubmit)="deleteElement()">
    <div class="modal-header">
      <h4 class="modal-title">Eliminar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span *ngIf="!isDelete">
        Hubo un error al eliminar "{{ currentFilename }}".
      </span>
      <p>Para eliminar "{{ currentFilename }}" digita el nombre por cuestiones de seguridad:</p>
      <div class="field-change-state">
        <label for="fieldToChange">Nombre del elemento a borrar:</label>
        <input type="text" name="fieldToChange" formControlName="fieldToChange">
        <span *ngIf="currentFieldChangeState.controls['fieldToChange'].invalid &&
                      (currentFieldChangeState.controls['fieldToChange'].dirty ||
                        currentFieldChangeState.controls['fieldToChange'].touched)"
              class="danger">
                      Digita el nombre del elemento a elminar.
        </span>
        <span *ngIf="currentFieldChangeState.controls['fieldToChange'].value != currentFilename &&
                      currentFieldChangeState.controls['fieldToChange'].value != ''"
              class="danger">
          No puedes escribir un nombre distinto del elemento a eliminar.
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
      <button
        type="submit"
        class="btn btn-danger"
        [disabled]="currentFieldChangeState.invalid ||
                    currentFieldChangeState.controls['fieldToChange'].value != currentFilename">
                    Eliminar
      </button>
    </div>
  </form>
</ng-template>
<!-- Modal Create -->
<ng-template #crearF let-modal>
  <form [formGroup]="currentFieldChangeState" (ngSubmit)="createFolder()">
    <div class="modal-header">
      <h4 class="modal-title">Crear</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span *ngIf="!isCreate">
        Hubo un error al crear una carpeta.
      </span>
      <p>Digita el nombre de la carpeta a crear.</p>
      <div class="field-change-state">
        <label for="fieldToChange">Nombre de la carpeta:</label>
        <input type="text" name="fieldToChange" formControlName="fieldToChange">
        <span *ngIf="currentFieldChangeState.controls['fieldToChange'].invalid &&
                      (currentFieldChangeState.controls['fieldToChange'].dirty ||
                        currentFieldChangeState.controls['fieldToChange'].touched)"
              class="danger">
                      Digita el nombre del la carpeta a crear.
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
      <button
        type="submit"
        class="btn btn-danger"
        [disabled]="currentFieldChangeState.invalid">
                    Crear
      </button>
    </div>
  </form>
</ng-template>

<!-- Content view -->
<nav class="navbar bg-blue-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MyDrive</a>
    <div class="d-flex">
      <button class="btn btn-primary" [routerLink]="['upload-file', downloadPath]">Subir archivo</button>
      <button class="btn btn-success create" (click)="openCreateDir(crearF)">Crear carpeta</button>
    </div>
  </div>
</nav>
<div class="local-path">
  <div class="container">
    <span *ngFor="let route of absolutePath; index as i">
      <span *ngIf="route == '/'; else normalRoute" class="slash">
        {{ route }}
      </span>
      <ng-template #normalRoute>
        <span (click)="router(i)" class="route"><a>{{ route }}</a></span>
      </ng-template>
    </span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 dir" *ngFor="let dir of dirs">
      <div class="main-content">
        <div class="filenames" (click)="onRefreshContent(dir, false)">
          <p class="filename">{{ dir }}</p>
        </div>
        <div class="options">
          <div ngbDropdown class="d-inline-block main-nav-options">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <div>
                <div class="one"></div>
                <div class="dos"></div>
                <div class="tres"></div>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="openRenameElement(renameE, dir)"><i class="fas fa-edit edit"></i> Renombrar</button>
              <button ngbDropdownItem (click)="openDeleteElement(deleteE, dir)"><i class="fas fa-trash-alt delete"></i> Eliminar</button>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-md-2 file" *ngFor="let file of files">
      <div class="main-content">
        <div class="filenames">
          <p class="filename">{{ file }}</p>
        </div>
        <div class="options">
          <div ngbDropdown class="d-inline-block main-nav-options">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <div>
                <div class="one"></div>
                <div class="dos"></div>
                <div class="tres"></div>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="openRenameElement(renameE, file)"><i class="fas fa-edit edit"></i> Renombrar</button>
              <a href="{{ mainDownloadPath }}{{ downloadPath }}-{{ file }}" download><button ngbDropdownItem><i class="fas fa-download download"></i> Descargar</button></a>
              <button ngbDropdownItem (click)="openDeleteElement(deleteE, file)"><i class="fas fa-trash-alt delete"></i> Eliminar</button>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
